[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GENEAread"]
	path = GENEAread
	url = https://github.com/cran/GENEAread
[submodule "GENEAsphere"]
	path = GENEAsphere
	url = https://github.com/cran/GENEAsphere
